
@mixin button {
  width: 100%;
  max-width: 200px;
  font-size: 1rem;
  
  outline: none !important;
  border: 1px solid $button-color;
  border-radius: 30px;
  
  padding: 1rem;

  background-color: $button-color;
  color: white;
  transition: all .3s;
  &:hover {
    cursor: pointer;
    background-color: white;
    color: $button-color;
  }
}

@mixin title {
  text-align: center;
  color: $main-color;
  color: #eb1c22;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 2;

  @media (max-width: 768px) {
    font-size: 28px;
  }
}

@mixin description {
  color: #54595f;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
}

@mixin subtitle {
  color: $subtitle-color;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-family: "Roboto", Sans-serif;
}